* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    background: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #909090;
}

.input::placeholder {
    color: #707070;
}

.input:focus-visible {
    border: 1px solid #303030;
    outline: none;
}

#main {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#searchHistory {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 1024px) {
    #searchHistory {
        width: 60%;
    }
}

#searchResults {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: white;
}

.searchResults-error {
    color: red;
    background: #ffcfcf;
}

.job {
    display: flex;
    padding: 10px;
    align-items: center;
    color: #707070;
    text-align: left;
    cursor: pointer;
}

.job:hover {
    background-color: #f2f2f2;
}

.highlight {
    font-weight: bold;
    color: #303030;
}

.feather {
    vertical-align: middle;
}

.feather-x {
    color: #808080;
    transition: color 0.3s ease;
}

.feather-x:hover {
    color: #303030;
    cursor: pointer;
}

#clearButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}

.history-item {
    width: 100%;
    min-width: 600px;
    max-width: 800px;
    min-height: 70px;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 12px;
    border-bottom: 1px solid #c5c5c5;
}

@media (min-width: 1024px) {
    .history-item {
        width: 100%;
    }
}

.history-item p:first-child, .history-item p:nth-child(2) {
    display: block;
    width: 100%;
}

.searchHistory-header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.searchHistory-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    overflow-x: auto;
}

@media (min-width: 1024px) {
    .searchHistory-list {
        overflow-x: visible;
    }
}

.clear-history {
    font-size: 12px;
    font-weight: 700;
}

.clear-history:disabled {
    color: #808080;
    cursor: auto;
}
