* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 16px;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: "Arial";
}

body {
    height: 100%;

    background: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#main {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 30px;
}

#searchHistory {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.searchHistory-item {
    width: max-content;
    min-width: 600px;
    max-width: 800px;
    min-height: 70px;
    max-height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    padding: 10px;

    border-block: 1px solid #c5c5c5;
}

@media (min-width: 1024px) {
    .searchHistory-item {
        width: 100%;
    }
}

.searchHistory-item p:first-child {
    width: 50%;

    display: block;

    font-weight: 700;
}

.searchHistory-item p:nth-child(2) {
    width: max-content;

    display: block;

    font-size: 12px;
    color: #909090;
}

.searchHistory-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.searchHistory-list {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 12px;

    overflow-x: auto;
}

@media(min-width: 1024px) {
    .searchHistory-list {
        overflow-x: visible;
    }
}

.searchHistory-clear-btn {
    font-size: 12px;
    font-weight: 700;
}

.searchHistory-clear-btn:disabled {
    color: #808080;
    cursor: auto;
}

#searchResults {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background: white;
}

.searchResults-error {
    color: red;
    background: #ffcfcf;
}

.input {
    width: 100%;

    display: block;
    padding: 10px;

    border: 1px solid #909090;
}

.input::placeholder {
    color: #707070;
}

.input:focus-visible {
    border: 1px solid #303030;
    outline: none;
}

.input-field {
    position: relative;
    width: 100%;
}


@media (min-width: 1024px) {
    #searchHistory {
        width: 60%;
    }
}

.job {
    display: flex;
    align-items: center;

    padding: 10px;

    color: #707070;
    text-align: left;

    cursor: pointer;
}

.job:hover {
    background-color: #f2f2f2;
}

.highlight {
    font-weight: bold;
    color: #303030;
}

.feather {
    vertical-align: middle;
}

.feather-x {
    color: #808080;
    transition: color 0.3s ease;
}

.feather-x:hover {
    color: #303030;
    cursor: pointer;
}

#clearButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
}

button {
    background: transparent;

    outline: none;
    border: 0px;
}